/* Header Component Styling */
.Header {
  background-color: #fff;
  width: 100%;
  max-width: -webkit-fill-available;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0px 2%;
  z-index: 5;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.HeaderShadow {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

/* Navbar Logo */
.HISLogo {
  margin-top: 10px; 
}

.HISLogo img {
  width: 70px;
}

/* Navbar Links */
.Navigations {
   width: 40%;
   display: flex;
   justify-content: center;
}

.Navigation {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  cursor: pointer;
}

.Navigation a {
  text-decoration: none;
  color: #575757;
  padding: 15px;
  line-height: 60px;
}

.Navigation a:hover,
.Navigation a:active,
a.active {
  font-weight: bolder;
}


.button{
  margin-top: 10px;
}