/* Button link */
.button_link {
  outline: none ;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}

.button_link:hover {
  background-color: transparent;
  border: 2px solid #337ab7;
  color: #000;
}

.Login {
  float: right;
  padding: 10px 30px;
  background-color: #004900;
}

.InfoBtn {
  padding: 15px 35px;
  background-color: #fff;
  color: #000;
}

/* End Of Button link */
