/* Header Component Styling */
.Header {
  background-color: #fff;
  width: 100%;
  max-width: -webkit-fill-available;
  height: 60px;
  position: fixed;
  top: 0px;
  box-shadow: 0px 2px 10px #64a873;
  padding: 0px 2%;
  z-index: 5;
}

.Header .nav {
  margin: 0px;
  float: left;
}
.Header .nav li {
  list-style: none;
  display: inline-block;
}

.Header .nav li a {
  text-decoration: none;
  color: #575757;
  padding: 15px;
  line-height: 60px;
}

.Header .nav li a:hover {
  font-weight: bolder;
}
/* End of Header Component styling */