/* Header Component Styling */
.Header {
  background-color: #fff;
  width: 100%;
  max-width: -webkit-fill-available;
  height: 60px;
  position: fixed;
  top: 0px;
  padding: 0px 2%;
  z-index: 5;
  transition: 0.5s;
}

.HeaderShadow {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

/* End of Header Component styling */