footer {
    background-color: #303030;
    width: 100%;
    height: 300px;
    margin-top: 30px;
    display: inline-table;
  }
  .footer-cont{
    width: 80%;
    height: 90%;
    margin: 0px 10% 0px 10%;
    justify-content: space-between;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 15px;
  }
  .footer-cont ul li a{
    text-decoration: none;
    color: white;
  }
  .footer-cont ul li a:hover{
    font-weight: bold;
  }
  .footer-logo{
    background-image: url(../../static/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    padding: 0px;
  }
  .footer-tabs{
    text-align: center;
    width: 30%;
    height: 240px;
    list-style: none;
    padding: 80px 0px 0px 0px;
    margin: 0px;
    line-height: 2;
  }
  .social-media{
    text-align: center;
    width: 30%;
    height: 240px;
    list-style: none;
    padding: 60px 0px 0px 0px;
    line-height: 2;
    margin: 0px;
  }
  .copyright{
    text-align: center;
    color: #e5e5ee;
    text-transform: capitalize;
    line-height: 20px;
    padding-top: 0px;
    margin: 0px;
  }