.container {
  margin-top: 100px;
  width: 100%;
}
.page-label {
  width: 300px;
  padding: 10px;
  background-color: #004900;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  width: 400px;
  border: 0.5px solid #adadad;
  padding: 30px;
  padding-bottom: 70px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.logo {
  width: 100px;
  float: left;
  background-color: #004900;
  padding: 7px 10px;
}
.logo img {
  width: 70px;
}
.login-wrapper input {
  width: 100%;
  height: 50px;
  padding: 15px;

  outline: none;
  font-size: 1.8rem;
  border: none;
}
.login-wrapper input[type="submit"] {
  width: auto;
  padding: 10px 40px;
  float: right;
  transition: 0.8s;
  border: none;
  background-color: #004900;
  color: #fff;
  cursor: pointer;
}
.login-wrapper h2,
h3 {
  margin: 15px;
}
.login-wrapper h3 {
  font-weight: 400;
}
.login-wrapper input[type="submit"]:hover {
  border: 2px solid;
  background-color: #1a73e8;
}
.login-wrapper .forget {
  float: left;
  line-height: 50px;
  color: #1a73e8;
  text-decoration: none;
}
.login-wrapper .copy-right {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1.3rem;
  color: #575757;
}

.input-label {
  padding: 0px;
  height: 70px;
  margin-bottom: 5px;
  border: 0.8px solid #adadad;
  border-radius: 5px;
}
.input-label legend {
  text-align: left;
  margin-left: 10px;
  color: #828282;
  font-weight: 400;
}
